@tailwind base;
@tailwind components;
@tailwind utilities;
html {font-size: 12px;}
@layer base {
  :root {
    /* ===== Базовые цвета ===== */
    --background: 0 0% 100%; /* #FFFFFF - основной фон */
    --foreground: 215 14% 24%; /* #343B46 - основной текст и иконки */
    
    /* ===== Цвета текста ===== */
    --text-primary: 215 14% 24%; /* #343B46 - основной текст */
    --text-secondary: 220 14% 46%; /* #667285 - второй текст, подсказки */
    --text-tertiary: 220 13% 65%; /* #9CA3AF - третий текст, светлые подсказки */
    --text-inactive: 0 0% 12%; /* #1F1F1F - неактивный текст */
    
    /* ===== Цвета границ ===== */
    --border-default: 240 11% 77%; /* #BDBDCC - стандартная граница элементов */
    --border-green: 120 65% 42%; /* #158F2C - граница зеленых объектов (сайдбар и т.д.) */
    
    /* ===== Системные цвета ===== */
    --green: 135 76% 44%; /* #1CC53C - основной зеленый (кнопки, активные вкладки) */
    --green-sidebar-bg: 135 76% 44% / 0.2; /* фон сайдбара */
    --green-sidebar-active: 135 76% 44% / 0.3; /* активная вкладка на сайдбаре */
    --red: 14 100% 62%; /* #FF5E3E - основной системный красный (графики, предупреждения) */
    --blue: 217 91% 60%; /* #3B82F6 - синий */
    
    /* ===== Состояния элементов ===== */
    --input-focus-ring: 217 91% 60% / 0.5; /* rgba(59,130,246,0.5) - выделенная область, активное поле ввода */
    --bg-disabled: 220 13% 65% / 0.05; /* rgba(156,163,175,0.05) - неактивный фон, подложка под недоступный текст */
    --bg-status: 142 84% 93%; /* #DCFCE7 - фон статуса файлов */
    
    /* ===== Черный ===== */
    --black: 0 0% 0%; /* #000000 - черный */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}