@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
}

@layer base {
  :root {
    /* ===== GREEN - зеленые элементы интерфейса ===== */
    --green-default: 131, 75%, 44%; /* #1CC53C */
    --green-semi-dark: 130, 76%, 36%; /* #16A02D */
    --green-dark: 131, 74%, 32%; /* #158F2C */

    /* ===== BACKGROUNDS - фоны ===== */
    --bg-green-transparent: 131, 75%, 44%, 0.25; /* #1CC53C 25% */
    --bg-light-green: 141, 84%, 93%; /* #DCFCE7 */
    --bg-default-light-field: 218, 11%, 65%, 0.05; /* #9CA3AF 5% */
    --bg-light-grey: 240, 22%, 89%; /* #DEDEEA */
    --bg-ultra-light-grey: 0, 0%, 98%, 0.8; /* #FBFBFB */
    --bg-medium-gray: 218, 11%, 65%, 0.5; /* #9CA3AF 50% */
    --bg-yellow: 53, 100%, 64%, 0.5; /* #FFE947 50% */

    /* ===== BORDERS - границы элементов ===== */
    --border-default: 240, 13%, 77%; /* #BDBDCC */
    --border-green: 131, 74%, 32%; /* #158F2C */

    /* ===== TEXT - текст ===== */
    --text-primary: 217, 15%, 24%; /* #343B46 */
    --text-secondary: 217, 13%, 46%; /* #667285 */
    --text-tertiary: 218, 11%, 65%; /* #9CA3AF */

    /* ===== DARK - темные цвета ===== */
    --dark-default: 0, 0%, 12%; /* #1F1F1F */
    --dark-default-transparent: 0, 0%, 12%, 0.9; /* #1F1F1F 90% */

    /* ===== COLORFUL - цветные элементы ===== */
    --red-default: 0, 84%, 60%; /* #EF4444 */
    --red-transparent: 0, 84%, 60%, 0.9; /* #EF4444 90% */
    --red-light-transparent: 0, 84%, 60%, 0.3; /* #EF4444 30% */
    --blue-default: 217, 91%, 60%; /* #3B82F6 */
    --blue-transparent: 217, 91%, 60%, 0.5; /* #3B82F6 50% */
    --yellow-default: 53, 100%, 64%; /* #FFE947 */

    /* ===== BASE - базовые цвета ===== */
    --white: 0, 0%, 100%; /* #FFFFFF */
    --black: 0, 0%, 0%; /* #000000 */

    /* ===== RAINBOW COLORS ===== */
    --diagram-gray: 0, 0%, 56%; /* #8e8e8e */
    --diagram-orange: 27, 100%, 62%; /* #FFA73B */
    --diagram-purple: 280, 100%, 62%; /* #D53DFF */
    --diagram-red: 11, 100%, 62%; /* #FF5e3e */
    --diagram-blue: 240, 100%, 62%; /* #3d3dff */
    --diagram-cyan: 189, 82%, 69%; /* #6EDFF2 */
    --diagram-pink: 328, 70%, 56%; /* #e65cb3 */
    --diagram-violet: 270, 100%, 50%; /* #8b00ff */

    /* ===== TABLE COLORS ===== */
    --table-header-bg: 240, 33%, 92%; /* #E3E3F1 */
    --table-row-even-bg: 240, 71%, 97%; /* #F3F3FD */
    --table-hovered-row: 240, 60%, 98%;/* #F7F7FD */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-text-primary;
  }
}