name: Backend Health Check

on: [push]

jobs:
  backend-tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        
    - name: Install Python dependencies
      run: |
        cd backend
        pip install -r requirements.txt
        
    - name: Install Frontend dependencies
      run: |
        cd frontend
        npm install
        
    - name: Run file loader test
      run: |
        cd backend
        PYTHONPATH=$GITHUB_WORKSPACE python -m app.common.tests.auto.file_loader_test
        
    - name: Run task manager test  
      run: |
        cd backend
        PYTHONPATH=$GITHUB_WORKSPACE python -m app.common.tests.auto.task_manager_test
